body {
    background-color: #f8f9fa;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    margin: 15px 0;
}

.card-body {
    text-align: center;
}

.dashboard-section {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
    font-size: 0.9rem;
}

.btn-primary {
    margin-top: 10px;
}

.table-responsive {
    margin-top: 20px;
}

/* Estilos para la página de login */
.login-card {
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
}

.btn-custom {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
}

.btn-custom:hover {
    background-color: #4a0072;
}

.offcanvas {
    max-width: 250px;
}

.offcanvas .nav-link {
    margin: 10px 0;
    font-size: 1.1rem;
}

.navbar-toggler {
    border: none;
}
