body {
    background: linear-gradient(to bottom, #ffe7ba, #fff6e0);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: opacity 1s ease-in-out;
}

body.fade-out {
    opacity: 0;
}

.login-container {
    background: url('fondo.webp') no-repeat center center fixed;
    background-size: cover;
}

.login-card {
    background: #f4f6ee;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.login-card:hover {
    transform: translateY(-5px);
}

.maneki-logo {
    width: 100px;
    height: auto;
}

.btn-custom {
    background-color: #ff7043;
    color: white;
    border: none;
    padding: 0.8rem;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.btn-custom:hover {
    background-color: #d65124;
    transform: scale(1.05);
}
